* {
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 800px;
}

header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 4% 2%;
  background-color: #564db8;
}

header ul {
  display: flex;
  overflow: hidden;
}
ul {
  list-style-type: none;
  padding: 0%;
}

li {
  text-align: center;
  padding: 16px;
}

button {
  font-size: 50px;
  text-align: center;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-weight: bolder;
  background-color: rgb(187, 56, 187);
  color: rgb(228, 163, 90);
}

footer {
  background-color: #564db8;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

.item-number {
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  padding: 3% 1%;
  background-color: rgb(228, 163, 90);
}
.item-number div {
  margin-left: auto;
}

.list {
  display: flex;
  padding: 5% 1%;
  font-size: 30px;
  flex-direction: column;
  background-color: rgb(232, 188, 137);
}

.list ul li {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.list input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.list ul li:nth-child(1) span:nth-child(1) {
  text-decoration: line-through;
}
.list ul li:nth-child(3) span:nth-child(1) {
  text-decoration: line-through;
}
.line {
  padding: 1% 0%;
  border-bottom: 2px solid purple;
  display: block;
}
.total {
  display: flex;
  justify-content: flex-end;
}
